$primary: rgb(0,204,102);
$secondary: black;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    background-color: rgb(247,247,247);
}

nav{
    display: flex;
    justify-content: space-between;

}

ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

li{
    padding: 20px;
    color: $secondary;
    
}

nav ul li:hover{
    color: red;
}

.header2{
    font-size: 20px;
}

.top{
    padding-right: 100px;
}

.image{
    img{
        width: 100%;
    }
    padding-top: 150px;
}

a{
    text-decoration: none;
    color: $secondary;
}
header{
    padding: 30px 20%;
}



.main{
    display: flex;
    justify-content: center;
    align-items: center;

}
.main1{
    color: $primary;
    font-weight: bolder;
    font-size: 60px;


}

.main3{
    color:$secondary;
    font-weight: bolder;
    font-size: 60px;
}

.main2{
    color: $secondary;
    font-weight: bold;
    font-size: 38px;
    padding-bottom: 30px;
}

button{
    padding: 12px 25px;
    background-color: $primary;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 18px;
    &:hover {
        background-color: white;
        color: $primary;
        outline: 1px solid $primary;
    }

}

nav ul li a:hover{
    color: $primary;
}

@mixin flexCenter($direction, $background) {
    background: $background;
}

header{
    @include flexCenter (column, red);
}